<%= stylesheet_link_tag "homecss" %>
<%= javascript_include_tag "homejs" %>
<div class="container-fluid">
	<div style="border-bottom: 1px solid #EEEEEE;">
		<h3>Order Products</h3>
	</div>
	<div class="col-md-12" style="padding-left:0px;margin-top:1%;margin-bottom:1%;">
		<!--<button class="btn btn-default col-md-1" ng-click="goBackToPrevious()"><i class="fa fa-level-up fa-rotate-270"></i></button>-->
		<back-button></back-button>
		<button class="btn btn-default col-md-1" style="margin-left:1%;" ng-click="createProduct('savereturn')" ng-show="!isProductShown"><i class="fa fa-save"></i></button>
		<button class="btn btn-default col-md-1" style="margin-left:1%;" ng-click="createProduct('savenew')" ng-show="!isProductShown"><i class="fa fa-save"></i><i class="fa fa-plus"></i></button>
		<button class="btn btn-default col-md-1" style="margin-left:1%;" ng-click="editProduct()" ng-show="isProductShown"><i class="fa fa-edit"></i></button>

	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="profile-info-name">Product Name</div>
				<div class="profile-info-value">
					<select class="form-control" ng-model="masterProductId" ng-options="masterProduct.id as masterProduct.name for masterProduct in allMasterProducts" ng-disabled="isProductShown" ng-change="productChanged()">
					</select>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name">Product Size</div>
				<div class="profile-info-value">
					<input type="text" class="form-control" ng-model="product.size" ng-disabled="isProductShown"/>
				</div>
			</div>
			
			<div class="profile-info-row">
				<div class="profile-info-name">GSM</div>
				<div class="profile-info-value">
					<input type="text" class="form-control" ng-model="product.gsm" ng-disabled="isProductShown"/>
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name">Product Scheme</div>
				<div class="profile-info-value">
					<input type="text" class="form-control" ng-model="product.print_scheme" ng-disabled="isProductShown"/>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="profile-info-row">
				<div class="profile-info-name">Font Pattern</div>
				<div class="profile-info-value">
					<input type="text" class="form-control" ng-model="product.font_pattern" ng-disabled="isProductShown"/>
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name">Fabric Color</div>
				<div class="profile-info-value">
					<input type="text" class="form-control" ng-model="product.side_fabric_color" ng-disabled="isProductShown"/>
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name">Dori Color</div>
				<div class="profile-info-value">
					<input type="text" class="form-control" ng-model="product.dori_color" ng-disabled="isProductShown"/>
				</div>
			</div>
			
			<div class="profile-info-row">
				<div class="col-md-6" style="padding-left: 0px;">
					<div class="profile-info-name">Lamination</div>
					<div class="profile-info-value">
						<input type="checkbox" ng-model="product.lamination" ng-disabled="isProductShown"/>
					</div>
				</div>
				<div class="col-md-6">
					<div class="profile-info-name">Chain</div>
					<div class="profile-info-value">
						<input type="checkbox" ng-model="product.is_chain" ng-disabled="isProductShown"/>
					</div>
				</div>
			</div>
			
		</div>
		<div class="col-md-3">
			<div class="profile-info-row">
				<div class="profile-info-name">Product Color</div>
				<div class="profile-info-value">
					<input type="text" class="form-control" ng-model="product.color" ng-disabled="isProductShown"/>
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name">Print Type</div>
				<div class="profile-info-value">
					<input type="text" class="form-control" ng-model="product.print_type" ng-disabled="isProductShown"/>
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name">Ink Color</div>
				<div class="profile-info-value">
					<input type="text" class="form-control" ng-model="product.ink_color" ng-disabled="isProductShown"/>
				</div>
			</div>
			<div class="profile-info-row">
				<div class="col-md-6" style="padding-left: 0px;"> 
					<div class="profile-info-name">Dori</div>
					<div class="profile-info-value">
						<input type="checkbox" ng-model="product.is_dori" ng-disabled="isProductShown"/>
					</div>
				</div>
				<div class="col-md-6">
					<div class="profile-info-name">Velcrow</div>
					<div class="profile-info-value">
						<input type="checkbox" ng-model="product.is_velcrow" ng-disabled="isProductShown"/>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="profile-info-row">
				<div class="profile-info-name">Price per piece</div>
				<div class="profile-info-value">
					<input type="text" class="form-control" ng-model="product.price_per_piece" ng-disabled="isProductShown"/>
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name">Price per kg</div>
				<div class="profile-info-value">
					<input type="text" class="form-control" ng-model="product.price_per_kg" ng-disabled="isProductShown"/>
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name">Quantity</div>
				<div class="profile-info-value">
					<input type="text" class="form-control" ng-model="product.quantity" ng-disabled="isProductShown"/>
				</div>
			</div>
			<div class="profile-info-row">
				<div class="col-md-6" style="padding-left: 0px;">
					<div class="profile-info-name">Tape</div>
					<div class="profile-info-value">
						<input type="checkbox" ng-model="product.is_tape" ng-disabled="isProductShown"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>