<%= stylesheet_link_tag "homecss" %>
<div class="container-fluid">
	<div style="border-bottom: 1px solid #EEEEEE;">
		<h3>Welcome to parnami-packaging</h3>
	</div>
	
	<div class="row">
	</div>

</div>	
