<%= stylesheet_link_tag "homecss" %>
<div class="container-fluid">
	<div style="border-bottom: 1px solid #EEEEEE;">
		<h3>Order</h3>
	</div>
	<div class="col-md-12" style="padding-left:0px;margin-top:1%;margin-bottom:1%;">
		<!--<button class="btn btn-default col-md-1" ng-click="goBackToPrevious()"><i class="fa fa-level-up fa-rotate-270"></i></button>-->
		<back-button></back-button>
		<button class="btn btn-default col-md-1" style="margin-left:1%;" ng-click="createOrder()" ng-show="!isOrderShown"><i class="fa fa-save"></i></button>
		<button class="btn btn-default col-md-1" style="margin-left:1%;" ng-click="editOrder()" ng-show="isOrderShown"><i class="fa fa-edit"></i></button>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="profile-info-row">
				<div class="profile-info-name">Customer Name</div>
				<div class="profile-info-value">
					<select class="form-control" ng-model="customerSelected" ng-options="customers.id as customers.name for customers in allCustomers" ng-change="updateMobileAndAddress()" ng-disabled="isOrderShown">
					</select>
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name">Order Details</div>
				<div class="profile-info-value">
					<input type="text" class="form-control" ng-model="order.order_details" ng-disabled="isOrderShown"/>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="profile-info-row">
				<div class="profile-info-name">Mobile Number</div>
				<div class="profile-info-value">
					<input type="text" class="form-control" ng-model="mobile_number" ng-disabled="true"/>
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name">Delivery Date</div>
				<div class="profile-info-value">
					<div class='input-group date' id='datetimepicker1'>
						<input type='text' class="form-control"  ng-model="order.delivery_date" ng-disabled="isOrderShown"/>
						<span class="input-group-addon" >
						<span class="fa fa-calendar"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="profile-info-row">
				<div class="profile-info-name">Delivery Address</div>
				<div class="profile-info-value">
					<textarea class="form-control" rows="4" ng-model="order.delivery_address" ng-disabled="isOrderShown"></textarea>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			
		</div>
	</div>
	<br />
	<div class="row" style="padding-left:0px;margin-top:1%;margin-bottom:1%;" ng-show="isOrderShown">
		<div class="col-md-10">
			<ul class="nav nav-tabs">
			  <li role="presentation" class="active"><a href="javascript:void(0)" ng-click="toggleTab('showProducts')">Order Products</a></li>
			  <li role="presentation"><a href="javascript:void(0)" ng-click="toggleTab('showDeliveryPlan')">Order Delivery Plan</a></li>
			</ul>
		</div>
	</div>
	<div ng-show="showProductOrDeliveryPlan == 'showProducts' && isOrderShown">
		<div style="border-bottom: 1px solid #EEEEEE;">
			<h3>Products</h3>
		</div>
		<div class="col-md-12" style="padding-left:0px;margin-top:1%;margin-bottom:1%;">
			<button class="btn btn-default" style="padding:6px 35px 6px 35px;" ng-click="navigateToProduct()" ng-disabled="!isOrderShown"><i class="fa fa-plus-square"></i></button>
		</div>
		<br />
		<div class="row">
			<div class="col-md-9">
				<table class="idTableOrder" ng-hide="productList.length == 0">
					<tr>
						<th>Product Name</th>
						<th>Quantity</th>
						<th>Color</th>
						<th>Size</th>
					</tr>
					<tr ng-repeat="product in productList">
						<td><a href="#/orderproducts/{{orderId}}/{{product.order_product.id}}">{{product.order_product.master_process_name}}</a></td>
						<td>{{product.order_product.quantity}}</td>
						<td>{{product.order_product.color}}</td>
						<td>{{product.order_product.size}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div ng-show="showProductOrDeliveryPlan == 'showDeliveryPlan' && isOrderShown">
		<div style="border-bottom: 1px solid #EEEEEE;">
			<h3>Order Delivery Plan</h3>
		</div>
		<div class="col-md-12" style="padding-left:0px;margin-top:1%;margin-bottom:1%;">
			<button class="btn btn-default" style="padding:6px 35px 6px 35px;" ng-click="navigateToProductPlan()" ng-disabled="!isOrderShown"><i class="fa fa-plus-square"></i></button>
		</div>
		<br />
		<div class="row">
			<div class="col-md-9">
				<table class="idTableOrder" ng-hide="orderPlanDeliveryList.length == 0">
					<tr>
						<th>Delivery Date</th>
						<th>Quantity</th>
					</tr>
					<tr ng-repeat="productPlan in orderPlanDeliveryList">
						<td><a href="#/productprocessplan/{{orderId}}/{{productPlan.order_delivery_plan.order_product_id}}/{{productPlan.order_delivery_plan.id}}">{{productPlan.order_delivery_plan.delivery_date}}</a></td>
						<td>{{productPlan.order_delivery_plan.quantity}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<%= javascript_include_tag "homejs" %>