<%= stylesheet_link_tag "homecss" %>
<style>
    .valdr-message {
        display: none;
    }

    .form-submitted .valdr-message.ng-invalid,
    .valdr-message.ng-invalid.ng-touched.ng-dirty {
        display: inline;
        color: red;
        margin-top: -2px;
    }

    .form-group {
        margin-bottom: 8px;
    }

</style>
<div class="col-md-12" style="padding-left:0px;margin-top:1%;margin-bottom:1%;">
  <back-button data-toggle="tooltip" title="Click this button to go to previous screen"></back-button>
  <button data-toggle="tooltip" title="Click this button to create save Vendor" class="btn btn-default col-md-1" style="margin-left:1%;" ng-click="createVendor( form )"><i class="fa fa-save"></i></button>
</div>
<div ng-class="{ 'form-submitted': formSubmitted }">
    <form name="form" valdr-type="VendorCreate" novalidate on-navigate-away-strategy='none'>
        <div class="alert alert-danger col-md-12" ng-show="vendorErrorMsg.length > 0">
            <span style="color:#cc0000">
                <h4>Errors</h4>
            </span>
            <span ng-bind-html="vendorErrorMsg | sanitize">
                <p>{vendorErrorMsg}}</p>
            </span>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="profile-info-row">
                    <div class="profile-info-name">Vendor Name *</div>
                    <div valdr-form-group class="profile-info-value">
                        <input type="text" name="name" class="form-control" ng-model="location.name"/>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="profile-info-row">
                    <div class="profile-info-name">Vendor Email</div>
                    <div valdr-form-group class="profile-info-value">
                        <input type="email" name="email" class="form-control" ng-model="location.email_id"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="profile-info-row">
                    <div class="profile-info-name">Mobile Number *</div>
                    <div valdr-form-group class="profile-info-value">
                        <input type="number" name="mobileNumber" class="form-control" ng-model="location.mobile_number"/>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="profile-info-row">
                    <div class="profile-info-name">Landline Number</div>
                    <div valdr-form-group class="profile-info-value">
                        <input type="number" name="landline" class="form-control" ng-model="location.landline_number"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="profile-info-row">
                    <div class="profile-info-name">Alternate Number</div>
                    <div valdr-form-group class="profile-info-value">
                        <input type="number" name="alternateNumber" class="form-control" ng-model="location.alternate_number"/>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="profile-info-row">
                    <div class="profile-info-name">Office Number</div>
                    <div valdr-form-group class="profile-info-value">
                        <input type="number" name="officeNumber" class="form-control" ng-model="location.office_number"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="profile-info-row">
                    <div class="profile-info-name">Billing Name *</div>
                    <div valdr-form-group class="profile-info-value">
                        <input type="text" name="billingName" class="form-control" ng-model="location.billing_name"/>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="profile-info-row">
                    <div class="profile-info-name">Vendor Company</div>
                    <div valdr-form-group class="profile-info-value">
                        <input type="text" name="vendorCompany" class="form-control" ng-model="location.company_name"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="profile-info-row">
                    <div class="profile-info-name">Billing Address</div>
                    <div valdr-form-group class="profile-info-value">
                        <textarea rows="4" class="form-control" ng-model="location.billing_address"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
