<%= stylesheet_link_tag "homecss" %>
<div class="container-fluid">
	<div style="border-bottom: 1px solid #EEEEEE;">
		<h3>Vendor</h3>
	</div>
	<div class="col-md-12" style="padding-left:0px;margin-top:1%;margin-bottom:1%;">
		<back-button data-toggle="tooltip" title="Click this button to go to previous screen"></back-button>
		<button data-toggle="tooltip" title="Click this button to create new Vendor" class="btn btn-default col-md-1" style="margin-left:1%;" ng-click="showNewVendor()" ng-show="showList"><i class="fa fa-plus-square"></i></button>
		<button data-toggle="tooltip" title="Click this button to create save Vendor" class="btn btn-default col-md-1" style="margin-left:1%;" ng-click="createVendor()" ng-show="findView == 'showSaveWithNewVendor' || findView == 'showSaveWithOldVendor'"><i class="fa fa-save"></i></button>
		<button data-toggle="tooltip" title="Click this button to create edit Vendor" class="btn btn-default col-md-1" style="margin-left:1%;" ng-click="editVendor()" ng-show="findView == 'showeditandview' "><i class="fa fa-edit"></i></button>
	</div>
	<div ng-show="findView == 'showeditandview'">
		<div class="col-md-12" style="padding-left:0px;margin-top:1%;margin-bottom:1%;">
			<h4>Details of Vendor</h4>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label>Vendor Name:</label>
			</div>
			<div class="col-md-3">
				<label>{{location.name}}</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label>Vendor Email:</label>
			</div>
			<div class="col-md-3">
				<label>{{location.email_id}}</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label>Mobile Number:</label>
			</div>
			<div class="col-md-3">
				<label>{{location.mobile_number}}</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label>Landline Number:</label>
			</div>
			<div class="col-md-3">
				<label>{{location.landline_number}}</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label>Alternate Number:</label>
			</div>
			<div class="col-md-3">
				<label>{{location.alternate_number}}</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label>Office Number:</label>
			</div>
			<div class="col-md-3">
				<label>{{location.office_number}}</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label>Company Name:</label>
			</div>
			<div class="col-md-3">
				<label>{{location.company_name}}</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label>Billing Name:</label>
			</div>
			<div class="col-md-3">
				<label>{{location.billing_name}}</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label>Billing Address:</label>
			</div>
			<div class="col-md-3">
				<label>{{location.billing_address}}</label>
			</div>
		</div>
	</div>
	<div ng-show="findView == 'showSaveWithNewVendor' || findView == 'showSaveWithOldVendor'">
		<div class="row">
			<div class="col-md-3">
				<div class="profile-info-row">
					<div class="profile-info-name">Vendor Name</div>
					<div class="profile-info-value">
						<input type="text" class="form-control" ng-model="location.name"/>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="profile-info-row">
					<div class="profile-info-name">Vendor Email</div>
					<div class="profile-info-value">
						<input type="text" class="form-control" ng-model="location.email_id"/>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="profile-info-row">
					<div class="profile-info-name">Mobile Number</div>
					<div class="profile-info-value">
						<input type="text" class="form-control" ng-model="location.mobile_number"/>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="profile-info-row">
					<div class="profile-info-name">Landline Number</div>
					<div class="profile-info-value">
						<input type="text" class="form-control" ng-model="location.landline_number"/>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="profile-info-row">
					<div class="profile-info-name">Alternate Number</div>
					<div class="profile-info-value">
						<input type="text" class="form-control" ng-model="location.alternate_number" />
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="profile-info-row">
					<div class="profile-info-name">Office Number</div>
					<div class="profile-info-value">
						<input type="text" class="form-control" ng-model="location.office_number"/>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="profile-info-row">
					<div class="profile-info-name">Billing Name</div>
					<div class="profile-info-value">
						<input type="text" class="form-control" ng-model="location.billing_name"/>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="profile-info-row">
					<div class="profile-info-name">Vendor Company</div>
					<div class="profile-info-value">
						<input type="text" class="form-control" ng-model="location.company_name" />
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="profile-info-row">
					<div class="profile-info-name">Billing Address</div>
					<div class="profile-info-value">
						<textarea rows="4" class="form-control" ng-model="location.billing_address"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div style="border-bottom: 1px solid #EEEEEE;" ng-show="showList">
		<h3>All Vendors</h3>
	</div>
	<div class="row" ng-show="allLocations.length != 0 && showList">
		<div class="col-md-12">
			<table class="table table-striped table-hover">
				<tr>
					<th>Vendor Name</th>
					<th>Vendor Company Name</th>
					<th>Mobile Number</th>
					<th>Email Address</th>
				</tr>
				<tr ng-repeat="location in allLocations">
					<td><a href="javascript:void(0)" ng-click="showLocation(location.id)">{{location.name}}</a></td>
					<td>{{location.company_name}}</td>
					<td>{{location.mobile_number}}</td>
					<td>{{location.email_id}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>