<%= stylesheet_link_tag "homecss" %>
<div class="container-fluid">
	<div style="border-bottom: 1px solid #EEEEEE;">
		<h3>Order Delivery Plan</h3>
	</div>
	<div class="col-md-12" style="padding-left:0px;margin-top:1%;margin-bottom:1%;">
		<back-button data-toggle="tooltip" title="Click this button to go to previous screen."></back-button>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="profile-info-row">
				<div class="profile-info-name">Quantity</div>
				<div class="profile-info-value">
					<input type="text" class="form-control" ng-model="orderPlan.quantity" ng-disabled="true"/>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="profile-info-row">
				<div class="profile-info-name">Delivery Date</div>
				<div class="profile-info-value">
					<div class='input-group date' id='datetimepicker1'>
						<input type='text' class="form-control" ng-model="orderPlan.delivery_date" ng-disabled="true"/>
						<span class="input-group-addon">
						<span class="fa fa-calendar"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div style="border-bottom: 1px solid #EEEEEE;">
			<h3>Order Delivery Plan Processes</h3>
		</div>
		<div style="padding-left:0px;margin-top:1%;margin-bottom:1%;">
			<button data-toggle="tooltip" title="Click this button to create the Order Product Plan Process" class="btn btn-default col-md-1" ng-click="addOrderPlanProcess()"><i class="fa fa-plus-square"></i></button>
		</div>
		<div ng-if="!orderPlan.is_transaction_initiated"  ng-hide="allPlanProcessList.length == 0">
			<button data-toggle="tooltip" title="Click this button to initiate order" class="btn btn-default col-md-1"  style="text-align:center;margin-left:20px;" ng-click="initiateOrder()">Initiate Order</button>
		</div>
		<div class="col-md-12 alert alert-danger" role="alert" ng-show="allPlanProcessList.length == 0" style="margin-top:1%;margin-bottom:1%;">
        <label style="font-weight:normal;">No delivery plan added.</label>
    </div>
		<div class="col-md-12 alert alert-success" role="alert" ng-if="orderPlan.is_transaction_initiated"style="margin-top:1%;margin-bottom:1%;">
				<label >Order initiated successfully</label>
		</div>
		<div class="col-md-12" style="padding-left:0px;margin-top:1%;margin-bottom:1%;" ng-hide="allPlanProcessList.length == 0">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Sequence Number</th>
						<th>Process Name</th>
						<th>Location Name</th>
						<th>Vendor Name</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody ui:sortable ng-model="check">
					<tr ng-repeat="process in allPlanProcessList" style="cursor:move;">
						<td style="width:20%">{{process.order_delivery_plan_process.sequence_number}}</td>
						<td style="width:20%"><select class="form-control" ng-model="process.order_delivery_plan_process.master_process_id" ng-options="masterProcess.id as masterProcess.name for masterProcess in processPicklist" ng-disabled="!process.isEditable" ng-change="processChanged(process)"/></td>
						<td style="width:20%"><select class="form-control" ng-model="process.order_delivery_plan_process.location_id" ng-options="loc.id as loc.name for loc in locationPicklist" ng-disabled="!process.isEditable" ng-change="locationChanged(process)"/></td>
						<td style="width:20%"><select class="form-control" ng-model="process.order_delivery_plan_process.vendor_id" ng-options="vendor.id as vendor.name for vendor in vendorPicklist" ng-disabled="!process.isEditable"/></td>
						<td style="width:20%">
							<span style="cursor:default;" class="col-md-6"><i class="fa fa-check" ng-show="process.isEditable" ng-click="executeCRUDOperation('add',process.order_delivery_plan_process)"></i><i href="" class="fa fa-edit" ng-show="!process.isEditable && !orderPlan.is_transaction_initiated" ng-click="executeCRUDOperation('edit',process.order_delivery_plan_process)"></i></span>
							<span style="cursor:default;" class="col-md-6"><i class="fa fa-trash" ng-show="!process.isEditable && !orderPlan.is_transaction_initiated" ng-click="executeCRUDOperation('delete',process.order_delivery_plan_process)"></i><i class="fa fa-ban" ng-show="process.isEditable && process.id == null" ng-click="executeCRUDOperation('cancel',process.order_delivery_plan_process)"></i></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="padding-left:0px;margin-top:1%;margin-bottom:1%;" class="col-md-12"  ng-hide="allPlanProcessList.length == 0">
			<button data-toggle="tooltip" title="Click this button to create the Order Product Plan Process" class="btn btn-default col-md-1" ng-click="addOrderPlanProcess()"><i class="fa fa-plus-square"></i></button>
		</div>
	</div>
</div>
<%= javascript_include_tag "homejs" %>
