<%= stylesheet_link_tag "homecss" %>
<div class="container-fluid">
	<div style="border-bottom: 1px solid #EEEEEE;">
		<h3>Order Delivery Plan</h3>
	</div>
	<div class="col-md-12" style="padding-left:0px;margin-top:1%;margin-bottom:1%;">
		<!--<button class="btn btn-default col-md-1" ng-click="goBackToPrevious()"><i class="fa fa-level-up fa-rotate-270"></i></button>-->
		<back-button></back-button>
		<button class="btn btn-default col-md-1" style="margin-left:1%;" ng-click="createPlan('return')" ng-show="!isPlanShown"><i class="fa fa-save"></i></button>
		<button class="btn btn-default col-md-1" style="margin-left:1%;" ng-click="createPlan('savenew')" ng-show="!isPlanShown"><i class="fa fa-save"></i><i class="fa fa-plus"></i></button>
		<button class="btn btn-default col-md-1" style="margin-left:1%;" ng-click="editPlan()" ng-show="isPlanShown"><i class="fa fa-edit"></i></button>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="profile-info-row">
				<div class="profile-info-name">Order Product</div>
				<div class="profile-info-value">
					<select class="form-control" ng-model="productSelectedId" ng-options="product.productId as product.productName for product in allOrderProducts" ng-disabled="isPlanShown">
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="profile-info-row">
				<div class="profile-info-name">Quantity</div>
				<div class="profile-info-value">
					<input type="text" class="form-control" ng-model="orderPlan.quantity" ng-disabled="isPlanShown"/>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="profile-info-row">
				<div class="profile-info-name">Delivery Date</div>
				<div class="profile-info-value">
					<div class='input-group date' id='datetimepicker1'>
						<input type='text' class="form-control" ng-model="orderPlan.delivery_date" ng-disabled="isPlanShown"/>
						<span class="input-group-addon">
						<span class="fa fa-calendar"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="isPlanShown">
		<div style="border-bottom: 1px solid #EEEEEE;">
			<h3>Order Delivery Plan Processes</h3>
		</div>
		<div class="col-md-12" style="padding-left:0px;margin-top:1%;margin-bottom:1%;">
			<button class="btn btn-default" style="padding:6px 35px 6px 35px;" ng-click="showGrid=false"><i class="fa fa-plus-square"></i></button>
		</div>
		<div class="row" ng-show="showGrid">
			<div class="col-md-9">
				<table class="idTableOrder" ng-hide="allPlanProcessList.length == 0">
					<tr>
						<th>Sequence</th>
						<th>Process Name</th>
					</tr>
					<tr ng-repeat="process in allPlanProcessList">
						<td><a href="javascript:void(0)" ng-click="showPlanStatus(process.id)">{{process.sequence_number}}</a></td>
						<td>{{process.master_process_name}}</td>
					</tr>
				</table>
			</div>
		</div>
		<div ng-show="!showGrid">
			<div class="col-md-12" style="padding-left:0px;margin-top:1%;margin-bottom:1%;">
				<button class="btn btn-default col-md-1"  ng-click="createPlanStatus()" ng-show="!isOrderStatusShown"><i class="fa fa-save"></i></button>
				<button class="btn btn-default col-md-1"  style="margin-left:1%;" ng-click="showGrid = true" ng-show="!isOrderStatusShown"><i class="fa fa-remove"></i></button>
				<button class="btn btn-default col-md-1" style="margin-left:1%;" ng-show="isOrderStatusShown" ng-click="editPlanStatus()"><i class="fa fa-edit"></i></button>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="profile-info-row">
						<div class="profile-info-name">Location</div>
						<div class="profile-info-value">
							<select class="form-control" ng-model="locId" ng-options="loc.id as loc.name for loc in locationPicklist" ng-disabled="isOrderStatusShown">
						</select>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">Is First Step</div>
						<div class="profile-info-value">
							<input type="checkbox" ng-model="orderPlanStatus.is_first_step" ng-disabled="isOrderStatusShown"/>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="profile-info-row">
						<div class="profile-info-name">Sequence Number</div>
						<div class="profile-info-value">
							<input type="text" class="form-control" ng-model="orderPlanStatus.sequence_number" ng-disabled="isOrderStatusShown"/>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">Is Last Step</div>
						<div class="profile-info-value">
							<input type="checkbox" ng-model="orderPlanStatus.is_last_step" ng-disabled="isOrderStatusShown"/>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="profile-info-row">
						<div class="profile-info-name">Process Stage</div>
						<div class="profile-info-value">
							<select class="form-control" ng-model="proId" ng-options="process.id as process.name for process in processPicklist" ng-change="processChanged()" ng-disabled="isOrderStatusShown">
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= javascript_include_tag "homejs" %>

