heyaaaaaaaaaaaaaa
<!-- <%= stylesheet_link_tag "homecss" %>
    <div class="container-fluid">
        <div class="col-md-12" style="padding-left:0px;margin-top:1%;margin-bottom:1%;">
            <back-button data-toggle="tooltip" title="Click this button to go to previous screen"></back-button>
            <button data-toggle="tooltip" title="Click this button to create edit Customer" class="btn btn-default col-md-1" style="margin-left:1%;" ng-click="editCustomer()" ng-show="findView == 'showeditandview' "><i class="fa fa-edit"></i></button>
        </div>
        <div>
            <div class="col-md-12" style="padding-left:0px;margin-top:1%;margin-bottom:1%;">
                <h4>Details of Customer</h4>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Customer Name:</label>
                </div>
                <div class="col-md-3">
                    <label>{{masterProduct.name}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Customer Email:</label>
                </div>
                <div class="col-md-3">
                    <label>{{masterProduct.email_id}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Mobile Number:</label>
                </div>
                <div class="col-md-3">
                    <label>{{masterProduct.mobile_number}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Landline Number:</label>
                </div>
                <div class="col-md-3">
                    <label>{{masterProduct.landline_number}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Alternate Number:</label>
                </div>
                <div class="col-md-3">
                    <label>{{masterProduct.alternate_number}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Office Number:</label>
                </div>
                <div class="col-md-3">
                    <label>{{masterProduct.office_number}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Billing Name:</label>
                </div>
                <div class="col-md-3">
                    <label>{{masterProduct.billing_name}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Billing Address:</label>
                </div>
                <div class="col-md-3">
                    <label>{{masterProduct.billing_address}}</label>
                </div>
            </div>
        </div>
    </div> -->
