<%= stylesheet_link_tag "homecss" %>
<style media="screen">

  .valdr-message {
    display: none;
  }

  .valdr-message.ng-invalid.ng-touched.ng-dirty,
  .form-submitted .valdr-message.ng-invalid {
    display: inline;
    color: red;
    margin-top: -2px;
  }

  .form-group {
    margin-bottom: 8px;
  }
</style>
<div class="container-fluid">
	<div style="border-bottom: 1px solid #EEEEEE;">
		<h3>Master Processes</h3>
	</div>
	<div class="col-md-12" style="padding-left:0px;margin-top:1%;margin-bottom:1%;">
		<back-button data-toggle="tooltip" title="Click this button to go to previous screen"></back-button>
		<button data-toggle="tooltip" title="Click this button to create new Process" class="btn btn-default col-md-1" style="margin-left:1%;" ng-click="showNewProcess()" ng-show="showList"><i class="fa fa-plus-square"></i></button>
		<button data-toggle="tooltip" title="Click this button to create save Process" class="btn btn-default col-md-1" style="margin-left:1%;" ng-click="createMasterProcess(form)" ng-show="findView == 'showSaveWithNewProcess' || findView == 'showSaveWithOldProcess'"><i class="fa fa-save"></i></button>
		<button data-toggle="tooltip" title="Click this button to create edit Process" class="btn btn-default col-md-1" style="margin-left:1%;" ng-click="editProcess()" ng-show="findView == 'showeditandview' "><i class="fa fa-edit"></i></button>
	</div>
	<div ng-show="findView == 'showeditandview'">
		<div class="col-md-12" style="padding-left:0px;margin-top:1%;margin-bottom:1%;">
			<h4>Details of Process</h4>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label>Process Name:</label>
			</div>
			<div class="col-md-3">
				<label>{{masterProduct.name}}</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label>Process Description:</label>
			</div>
			<div class="col-md-3">
				<label>{{masterProduct.description}}</label>
			</div>
		</div>
	</div>
	<div ng-show="findView == 'showSaveWithNewProcess' || findView == 'showSaveWithOldProcess'">
		<div ng-class="{ 'form-submitted': formSubmitted }">
		<form name="form" valdr-type="ProcessUpdate" novalidate on-navigate-away-strategy='none' >
		<div class="row">
			<div class="col-md-3">
				<div class="profile-info-row">
					<div class="profile-info-name">Process Name</div>
					<div valdr-form-group class="profile-info-value">
						<input type="text" name="name" class="form-control" ng-model="masterProduct.name"/>
						<span ng-show="errorMsg.length!=0 && masterProduct.name!=null" style="color:red;">{{errorMsg}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="profile-info-row">
					<div class="profile-info-name">Process Description</div>
					<div class="profile-info-value">
						<textarea class="form-control" rows="4" ng-model="masterProduct.description"></textarea>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
	</div>
	<br />
	<div style="border-bottom: 1px solid #EEEEEE;" ng-show="showList">
		<h3>All Master Processes</h3>
	</div>
	<div class="row" ng-show="allMasterProducts.length != 0 && showList">
		<div class="col-md-12">
			<table class="table table-striped table-hover">
				<tr>
					<th>Process Name</th>
					<th>Process Description</th>
					<th></th>
				</tr>
				<tr ng-repeat="master in allMasterProducts">
					<td><a href="javascript:void(0)" ng-click="showMasterProduct(master.id)">{{master.name}}</a></td>
					<td>{{master.description}}</td>
					<td><a href="" ng-click="deleteProcess(master.id)" ><span class="glyphicon glyphicon-remove-sign"></span></a></td>
				</tr>
			</table>
		</div>
	</div>
</div>
